%% -*- erlang -*-
{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps"},
            {i, "deps"},
            warnings_as_errors,
            debug_info]}.
{sub_dirs, ["apps/msgpack_rpc", "apps/msgpack_rpc_client", "apps/msgpack_rpc_server"]}.
{erl_first_files, ["src/msgpack_rpc_middleware.erl", "src/msgpack_rpc_handler.erl"]}.
{xref_checks, [undefined_function_calls]}.
{edoc_opts, [{dialyzer_specs, all}, {report_missing_type, true},
             {report_type_mismatch, true}, {pretty_print, erl_pp},
             {preprocess, true}, {dir, "../../doc"}]}.
{validate_app_modules, true}.
{clean_files, ["logs", "test/*.beam"]}.
{deps, [
  {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {branch, "master"}}},
  {ranch, ".*", {git, "git://github.com/extend/ranch.git", {branch, "master"}}}
 ]}.
